<div class="p-2">
  <div class="border-top-black pb-4">
    <h1>Colors</h1>
    <div class="row mt-4">
      <div class="col-4 d-flex flex-column">
        <div class="color-item d-flex align-items-center cs-color-primary-black"><div class="square"></div>$cs-color-primary-black</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray6"><div class="square"></div>$cs-color-primary-gray6</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray5"><div class="square"></div>$cs-color-primary-gray5</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray4"><div class="square"></div>$cs-color-primary-gray4</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray3"><div class="square"></div>$cs-color-primary-gray3</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray2"><div class="square"></div>$cs-color-primary-gray2</div>
        <div class="color-item d-flex align-items-center cs-color-primary-gray1"><div class="square"></div>$cs-color-primary-gray1</div>
        <div class="color-item d-flex align-items-center cs-color-primary-white"><div class="square"></div>$cs-color-primary-white</div>
      </div>
      <div class="col-4 d-flex flex-column">
        <div class="color-item d-flex align-items-center cs-color-secondary-green-dark"><div class="square"></div>$cs-color-secondary-green-dark</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-green-mid"><div class="square"></div>$cs-color-secondary-green-mid</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-green-bright"><div class="square"></div>$cs-color-secondary-green-bright</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-green-light"><div class="square"></div>$cs-color-secondary-green-light</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-magenta-dark"><div class="square"></div>$cs-color-secondary-magenta-dark</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-magenta-mid"><div class="square"></div>$cs-color-secondary-magenta-mid</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-magenta-bright"><div class="square"></div>$cs-color-secondary-magenta-bright</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-magenta-light"><div class="square"></div>$cs-color-secondary-magenta-light</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-purple-dark"><div class="square"></div>$cs-color-secondary-purple-dark</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-purple-mid"><div class="square"></div>$cs-color-secondary-purple-mid</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-purple-bright"><div class="square"></div>$cs-color-secondary-purple-bright</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-purple-light"><div class="square"></div>$cs-color-secondary-purple-light</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-turquoise-dark"><div class="square"></div>$cs-color-secondary-turquoise-dark</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-turquoise-mid"><div class="square"></div>$cs-color-secondary-turquoise-mid</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-turquoise-bright"><div class="square"></div>$cs-color-secondary-turquoise-bright</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-turquoise-light"><div class="square"></div>$cs-color-secondary-turquoise-light</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-blue-dark"><div class="square"></div>$cs-color-secondary-blue-dark</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-blue-mid"><div class="square"></div>$cs-color-secondary-blue-mid</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-blue-bright"><div class="square"></div>$cs-color-secondary-blue-bright</div>
        <div class="color-item d-flex align-items-center cs-color-secondary-blue-light"><div class="square"></div>$cs-color-secondary-blue-light</div>
      </div>
      <div class="col-4 d-flex flex-column">
        <div class="color-item d-flex align-items-center cs-color-support-green"><div class="square"></div>$cs-color-support-green</div>
        <div class="color-item d-flex align-items-center cs-color-support-amber"><div class="square"></div>$cs-color-support-amber</div>
        <div class="color-item d-flex align-items-center cs-color-support-red"><div class="square"></div>$cs-color-support-red</div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-4 d-flex flex-column">
        <div class="color-item d-flex align-items-center cs-color-custom-table-border"><div class="square"></div>$cs-color-custom-table-border</div>
      </div>
    </div>
  </div>
</div>
    