$cs-color-primary-black: #000000;
$cs-color-primary-gray6: #575756;
$cs-color-primary-gray5: #7c7c7b;
$cs-color-primary-gray4: #a8a8a7;
$cs-color-primary-gray3: #dadada;
$cs-color-primary-gray2: #e6e7e8;
$cs-color-primary-gray1: #f1f2f2;
$cs-color-primary-white: #ffffff;

$cs-color-support-red: #d91e19;
