.cs-spinner-overlay {
    z-index: 100;
}

.cs-spinner {
    text-align: center;
}

.cs-spinner-size.large {
    width: 105px;
    height: 105px;
    border-width: 3px;
}

.cs-spinner-size.default {
    width: 21px;
    height: 21px;
    border-width: 3px;
}

.cs-spinner-size {
    border-radius: 50%;
    margin: 0 auto;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 2px solid #e6e7e8;
    border-top-color: #000;
} 