@import '../../../scss/helpers/helpers/colors';

// .drop-down-box-shadow {
//     box-shadow: 0 3px 20px 10px rgba(0,0,0,0.05);
// }

.dropdown-scroll {
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}

.dropdown-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $cs-color-custom-dropdown-background;
}

.dropdown-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: $cs-color-custom-dropdown-background;
}

.dropdown-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: $cs-color-primary-black;
}

.z-index-3 {
  z-index: 3;
}
