@import '../../../../../scss/helpers/helpers/colors';

.date-picker-wrapper {
  color: #eee;
}

.calendar {
  width: 322px;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: center;
  color: #000000;
}

.month i {
  cursor: pointer;
}

.month h1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.weekdays div {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A8A8A7;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 7px;
}

.days div {
  font-size: 14px;
  width: 41px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days div  {
  color: #000000;
}

.days div.outline-next-day {
  color: #A8A8A7;
}

.days div :hover {
  color: #ffffff;
}

.days div:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.prev-date,
.next-date {
  opacity: 0.5;
}