@import '../../../../../scss/helpers/helpers/colors';

.accordion-container {
  outline: none;

  .item {

    .header {
      align-items: center;
      background-color: $cs-color-primary-black;

      i {
        color: $cs-color-primary-black;
        transition: all 0.3s;

        &.is-expanded {
          transform: rotate(-180deg);
        }
      }
    }

    .content {
      display: none;

      &.is-expanded {
        display: block;
      }
    }
  }
}
