@import "../../scss/helpers/variables";

.btn {
  font-size: 16px;
  font-family: "CSePBold";
  line-height: 24px;
  display: inline-block;
  padding: 11px 18px;
  border-radius: 0;
  cursor: pointer;
  height: 48px;

  &[disabled] {
    pointer-events: none;
  }

  &:not(:disabled):not(.disabled):focus {
    box-shadow: none;
    outline: 1px solid $cs-color-primary-black;
    outline-offset: 1px;
  }

  &:hover,
  &.active {
    outline: none;
  }
}

.btn-primary {
  color: $cs-color-primary-white;
  background: $cs-color-primary-black;
  border: 1px solid $cs-color-primary-black;

  &[disabled] {
    background: $cs-color-primary-gray3;
    border-color: $cs-color-primary-gray3;
  }

  &:hover,
  &:focus {
    background: $cs-color-primary-gray6;
  }
}

.btn-secondary {
  color: $cs-color-primary-black;
  background: $cs-color-primary-white;
  border: 1px solid $cs-color-primary-black;

  &[disabled] {
    color: $cs-color-primary-gray4;
    border-color: $cs-color-primary-gray4;
  }

  &:hover,
  &:focus {
    padding: 9px 17px;
    border: 2px solid $cs-color-primary-black;
  }

  &:not(:disabled):not(.disabled):active {
    padding: 11px 18px;
    background: $cs-color-primary-white;
    border: 1px solid $cs-color-primary-black;
  }
}

.btn-sm {
  font-size: 14px;
  height: 40px;
  padding: 0px 15px;
}

.btn-secondary.btn-sm {
  &:hover,
  &:focus {
    padding: 0px 14px;
  }

  &:not(:disabled):not(.disabled):active {
    padding: 0px 15px;
  }
}
