<div class="p-2">
  <h1>Button</h1>
  <div class="row mt-4">
    <div class="col-3">
      <button class="btn btn-primary">Primary</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" disabled>Primary disabled</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <button class="btn btn-secondary">Secondary</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary" disabled>Secondary disabled</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <button class="btn btn-primary btn-sm">Primary small</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary btn-sm" disabled>
        Primary small disabled
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <button class="btn btn-secondary btn-sm">Secondary small</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary btn-sm" disabled>
        Secondary small disabled
      </button>
    </div>
  </div>
</div>
