<div class="d-flex">
  <div class="col-8">
    <div class="scrolling-wrapper-flexbox" id="slider" #slider
      (mousedown)="onMouseDown($event);"
      (mousemove)="onMouseMove($event);"
      (mouseup)="onMouseUp($event);"
      (mouseleave)="onMouseLeave($event);">
      <ng-content select="[body]"></ng-content>
    </div>
    <div class="d-flex justify-content-end mt-4" *ngIf="IS_APP || true">
      <button (click)="scrollTo(true);">Left</button>
      <button (click)="scrollTo(false);">Right</button>
    </div>
  </div>
</div>