/* 
* Define all the CS colors based on CS Design System
* In whole application, only use this variables!
*
* color: $cs-color-primary-black; => good
* color: color(core, 'black'); => good, but be carefull, you can only use this syntax in SASS declared in /vendor-overrides, /components, /templates and, of course, in /libs folders (check _cs-colors.scss file to get the color palette)
* color: #000000; => bad
* color: black; => bad
*
* Note: 
* - If a color in your screen is missing, ask UX/UI team instead of creating a new color
* - color(core, 'black') is only available in specified folders because of imports order in themes/csd-iwm3/scss/main.scss. Currently I haven't find a way to re-order imports without creating huge regressions. The main issue is that backbase SASS overrides Bootstrap color function!
*/

// primary
$cs-color-primary-black: #000000;
$cs-color-primary-gray6: #575756;
$cs-color-primary-gray5: #7C7C7B;
$cs-color-primary-gray4: #A8A8A7;
$cs-color-primary-gray3: #DADADA;
$cs-color-primary-gray2: #E6E7E8;
$cs-color-primary-gray1: #F1F2F2;
$cs-color-primary-white: #FFFFFF;

// secondary
$cs-color-secondary-green-light: #D5E9C1;
$cs-color-secondary-green-bright: #78C043;
$cs-color-secondary-green-mid: #1F7C34;
$cs-color-secondary-green-dark: #00562A;
$cs-color-secondary-magenta-bright: #DA0C6F;
$cs-color-secondary-magenta-light: #F9C0CC;
$cs-color-secondary-magenta-dark: #7A004C;
$cs-color-secondary-magenta-mid: #B4006E;
$cs-color-secondary-purple-light: #D1C4E0;
$cs-color-secondary-purple-bright: #865BBC;
$cs-color-secondary-purple-mid: #633F9A;
$cs-color-secondary-purple-dark: #4C227C;
$cs-color-secondary-turquoise-light: #BFE5E2;
$cs-color-secondary-turquoise-bright: #00B2AC;
$cs-color-secondary-turquoise-mid: #007D84;
$cs-color-secondary-turquoise-dark: #005B66;
$cs-color-secondary-blue-light: #ADC8E9;
$cs-color-secondary-blue-bright: #0072CE;
$cs-color-secondary-blue-mid: #004C97;
$cs-color-secondary-blue-dark: #003868;

// support
$cs-color-support-green: #008000;
$cs-color-support-amber: #FFB81C;
$cs-color-support-red: #D91E19;

// custom, not defined in Design System but already used in application
$cs-color-custom-table-border: #999999;
$cs-color-custom-dropdown-background: #f5f5f5;