////
/// Theme Functions
/// @group helpers
////

//Your custom sass functions belong here -- which return some sass/css/data values
//This is where the custom theme overrides or extends existing Backbase functions
//It is not recommended to directly override Bootstrap functions.
//Please refer to the generated sassdocs for reusable functions API documentations