<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-white">
  <h1>Tables examples</h1>
  <div style="max-width: 1160px; background: #f1f2f2" class="bg-gray-1">
    <div *ngIf="true" class="ptf-acc-section p-2">
      <div class="border-bottom-black pb-4">
        <h4>Portfolios and accounts</h4>
      </div>
      <div>
        <table class="table bg-white mt-4 d-flex flex-column ptf-acc-table">
          <thead class="d-flex w-100">
            <tr class="w-100 d-flex row no-gutters border-bottom-black">
              <th
                class="csTypeEPRegular-14 p-2 col-6 col-md-3 col-lg-2 border-0 border-bottom-grey-3"
              >
                Description
              </th>
              <th
                class="csTypeEPRegular-14 p-2 col-md-2 offset-md-1 offset-lg-0 col-lg-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block"
              >
                Account number
              </th>
              <th
                class="csTypeEPRegular-14 p-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block"
              >
                Account type
              </th>
              <th
                class="csTypeEPRegular-14 p-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block"
              >
                Holder
              </th>
              <th
                class="csTypeEPRegular-14 p-2 col-md-3 col-lg-2 border-0 text-right d-none d-sm-none d-md-block d-lg-block d-xl-block"
              >
                YTD Performance
              </th>
              <th
                class="csTypeEPRegular-14 p-2 col-6 col-md-3 pr-sm-2 pr-md-5 pr-lg-5 col-lg-2 text-right border-0"
              >
                Amount
              </th>
            </tr>
          </thead>
          <tbody
            class="d-flex flex-column border-bottom-grey-3 border-top-0"
            *ngFor="
              let ptfandAccountsData of ptfandAccountsDatas;
              let i = index
            "
          >
            <tr
              (click)="collapse(i)"
              class="w-100 d-flex row no-gutters"
              [class.hover-bg-gray-1]="!ptfandAccountsDatas[i]['isExpanded']"
              [class.bg-gray-2]="ptfandAccountsDatas[i]['isExpanded']"
            >
              <td
                class="py-3 px-2 col-md-3 col-lg-2 col-xl-2 border-0 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row align-items-baseline"
              >
                <span class="d-flex align-items-baseline csTypeEPBold-14">
                  {{ ptfandAccountsData.description }}
                  <i
                    class="fa fa-chevron-down ml-2"
                    [class.is-expanded]="ptfandAccountsDatas[i]['isExpanded']"
                  ></i>
                </span>
                <span class="d-md-block d-lg-none d-xl-none">
                  {{ ptfandAccountsData.account }}
                </span>
                <span class="d-lg-none d-xl-none">
                  {{ ptfandAccountsData.holder }}
                </span>
                <span class="d-sm-block d-md-none d-lg-none d-xl-none">
                  {{ ptfandAccountsData.additions.portfolioId }}
                </span>
              </td>
              <td
                class="py-3 px-2 col-md-2 offset-md-1 offset-lg-0 col-lg-2 col-xl-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block"
              >
                {{ ptfandAccountsData.additions.portfolioId }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14"
              >
                {{ ptfandAccountsData.account }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14"
              >
                {{ ptfandAccountsData.holder }}
              </td>
              <td
                class="py-3 px-2 col-md-3 col-lg-2 border-0 text-right d-none d-sm-none d-md-block d-lg-block d-xl-block"
              >
                <span> {{ ptfandAccountsData.performanceYTDpct }}% </span>
                <span class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                  {{ ptfandAccountsData.holder }}
                </span>
              </td>
              <td
                class="py-3 p-2 pr-sm-2 pr-md-5 col-md-3 col-lg-2 col-xl-2 text-right border-0 d-flex flex-column"
              >
                <span>
                  {{ ptfandAccountsData.valuation.currencyCode }}
                  {{ ptfandAccountsData.valuation.amount }}
                </span>
                <span class="d-sm-block d-md-none d-lg-none d-xl-none">
                  {{ ptfandAccountsData.performanceYTDpct }}%
                </span>
              </td>
            </tr>
            <div
              class="outer"
              [@animationExpand]="ptfandAccountsDatas[i]['isExpanded']"
            >
              <tr
                *ngFor="let item of ptfandAccountsData.cashAccounts"
                class="outer w-100 d-flex row no-gutters expanded-tr bg-gray-1"
                [class.border-top-grey-3]="ptfandAccountsDatas[i]['isExpanded']"
              >
                <td
                  class="py-3 px-2 col-lg-2 border-0 d-none d-md-none d-lg-block d-xl-block"
                ></td>
                <td
                  class="py-3 px-2 offset-0 offset-md-0 offset-lg-0 col-lg-2 border-0 d-flex d-sm-flex flex-column flex-sm-column d-md-block csTypeEPRegular-14"
                >
                  <span>
                    {{ item.additions.IBAN }}
                  </span>
                  <span
                    class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                  >
                    {{ ptfandAccountsData.account }}
                  </span>
                  <span
                    class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                  >
                    {{ ptfandAccountsData.holder.split("-")[0] }}
                  </span>
                  <span
                    class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                  >
                    {{ item.additions.accountCurrency }}
                    {{ item.additions.balance }}
                  </span>
                  <span class="d-block d-sm-none d-md-none d-lg-none d-xl-none">
                    <i
                      class="fas fa-arrow-right position-absolute"
                      style="right: 16px; top: 50%"
                    ></i>
                  </span>
                </td>
                <td
                  class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14"
                >
                  Cassh account ({{ item.additions.accountCurrency }})
                </td>
                <td
                  class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14"
                >
                  {{ item.additions.description }}
                </td>
                <td
                  class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block text-right"
                >
                  -
                </td>
                <td
                  class="py-3 px-2 offset-md-0 col-md-6 col-lg-2 d-none d-sm-block d-md-flex flex-md-column text-right border-0 pr-5"
                >
                  {{ item.additions.accountCurrency }}
                  {{ item.additions.balance }}
                  <i
                    class="fas fa-arrow-right position-absolute"
                    style="right: 16px; top: 20px"
                  ></i>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-3">
      <div class="postion-list-section p-2">
        <div class="border-bottom-black pb-4">
          <h4>Position List</h4>
        </div>
        <div>
          <table
            class="table bg-white mt-4 d-flex flex-column position-list-table"
          >
            <thead class="d-flex w-100">
              <tr class="w-100 d-flex row no-gutters border-bottom-black">
                <th
                  class="csTypeEPRegular-14 p-2 col-6 col-md-2 col-lg-2 border-0 border-bottom-grey-3"
                >
                  Asset Category
                </th>
                <th
                  class="csTypeEPRegular-14 p-2 col-md-2 offset-lg-0 col-lg-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block text-right"
                >
                  Price
                </th>
                <th
                  class="csTypeEPRegular-14 p-2 col-md-3 col-lg-3 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block text-right"
                >
                  Value
                </th>
                <th
                  class="csTypeEPRegular-14 p-2 col-md-2 col-lg-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block text-right"
                >
                  Allocation
                </th>
                <th
                  class="csTypeEPRegular-14 p-2 col-6 col-md-3 pr-5 pr-sm-5 pr-md-5 pr-lg-5 col-lg-3 text-right border-0"
                >
                  Performance
                </th>
              </tr>
            </thead>
            <tbody
              class="d-flex flex-column border-bottom-grey-3 border-top-0"
              *ngFor="
                let ptfandAccountsDatasList of positionListDatas.assetClasses;
                let i = index
              "
            >
              <tr
                (click)="collapsePositionList(i)"
                class="w-100 d-flex row no-gutters"
                [class.hover-bg-gray-1]="
                  !positionListDatas.assetClasses[i]['isExpanded']
                "
                [class.bg-gray-2]="
                  positionListDatas.assetClasses[i]['isExpanded']
                "
              >
                <td
                  class="py-3 px-2 pr-md-5 pr-lg-2 col-md-3 col-lg-2 col-xl-2 border-0 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row align-items-baseline"
                >
                  <span class="d-flex align-items-baseline csTypeEPBold-14">
                    {{ ptfandAccountsDatasList.name }}
                    <i
                      class="fa fa-chevron-down ml-2"
                      [class.is-expanded]="
                        positionListDatas.assetClasses[i]['isExpanded']
                      "
                    ></i>
                  </span>
                </td>
                <td
                  class="py-3 px-2 col-md-2 offset-lg-0 col-lg-2 col-xl-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block text-right"
                ></td>
                <td
                  class="py-3 px-2 col-md-4 col-lg-1 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14"
                ></td>
                <td
                  class="py-3 px-2 col-md-2 col-lg-2 border-0 d-none d-sm-none d-md-block d-lg-block d-xl-block csTypeEPRegular-14 text-right"
                >
                  {{ ptfandAccountsDatasList.additions.currency }}
                  {{ ptfandAccountsDatasList.additions.amount }}
                </td>
                <td
                  class="py-3 p-2 pr-5 pr-sm-5 pr-md-2 pr-lg-2 pr-xl-2 col-md-2 col-lg-2 col-xl-2 text-right border-0 d-flex flex-column text-right"
                >
                  <span>
                    {{
                      ptfandAccountsDatasList.portfolioPct | number: "1.2-2"
                    }}%
                  </span>
                </td>
              </tr>
              <div
                class="outer"
                [@animationExpandPositions]="
                  positionListDatas.assetClasses[i]['isExpanded']
                "
              >
                <tr
                  *ngFor="let item of positionListDatas.positions"
                  class="outer w-100 d-flex row no-gutters expanded-tr bg-gray-1"
                  [class.border-top-grey-3]="
                    positionListDatas.assetClasses[i]['isExpanded']
                  "
                >
                  <td
                    class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14 text-right"
                  >
                    <span>
                      {{ item.instrumentName }}
                    </span>
                    <span
                      class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                    >
                      TEST
                    </span>
                    <span
                      class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                    >
                      TEST
                    </span>
                    <span
                      class="d-block d-sm-block d-md-none d-lg-none d-xl-none"
                    >
                      TEST TEST
                    </span>
                    <span
                      class="d-block d-sm-none d-md-none d-lg-none d-xl-none"
                    >
                      <i
                        class="fas fa-arrow-right position-absolute"
                        style="right: 16px; top: 50%"
                      ></i>
                    </span>
                  </td>
                  <td
                    class="py-3 px-2 col-lg-2 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block csTypeEPRegular-14 text-right"
                  >
                    {{ item.costPrice.amount }}
                    {{ item.costPrice.currencyCode }}
                  </td>
                  <td
                    class="py-3 px-2 col-lg-3 border-0 d-none d-sm-none d-md-none d-lg-block d-xl-block text-right"
                  >
                    {{ item.additions.nativeCCY }}
                    {{ item.additions.marketValue }}
                  </td>
                  <td
                    class="py-3 px-2 offset-md-0 col-md-6 col-lg-2 d-none d-sm-block d-md-flex flex-md-column text-right border-0"
                  >
                    {{ item.additions.allocationPct | number: "1.2-2" }}%
                  </td>
                  <td
                    class="py-3 px-2 offset-md-0 col-md-6 col-lg-3 d-none d-sm-block d-md-flex flex-md-column text-right border-0 pr-5"
                  >
                    {{ item.additions.unrealizedPL | number: "1.2-2" }}

                    <i
                      class="fas fa-arrow-right position-absolute"
                      style="right: 16px; top: 20px"
                    ></i>
                  </td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h1 class="p-2">Forms</h1>
    <div class="form-group">
      <label for="username"></label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control border-top-0 border-left-0 border-right-0 shadow-none focus-input-bottom csTypeEPRegular-16 p-0 pb-3 col-6"
        placeholder="Username"
      />
    </div>
  </div>

  <div class="p-2">
    <h1>Button</h1>
    <div>
      <button class="btn btn-primary">primary</button>
    </div>
    <div class="mt-2">
      <button class="btn btn-secondary border-black">secondary</button>
    </div>
  </div>

  <div class="p-2">
    <h1>Tabs</h1>

    <div class="tab-container d-flex">
      <button class="btn active border-black">perfofmance</button>
      <button class="btn border-black">Asset allocation</button>
      <button class="btn border-black">Currency allocation</button>
    </div>
  </div>
</div>
