<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-white">
  <div
    style="width: 1160px; height: 100vh; background: #f1f2f2"
    class="ptf-acc-section bg-gray-1"
  >
    <div>
      <div class="border-bottom-black pb-4">
        <h4>Portfolios and accounts</h4>
      </div>
      <div>
        <table class="table bg-white mt-4 d-flex flex-column ptf-acc-table">
          <thead class="d-flex w-100">
            <tr class="w-100 d-flex row no-gutters border-bottom-black">
              <th class="p-2 col-md-3 col-lg-2 border-0 border-bottom-grey-3">
                Description
              </th>
              <th class="p-2 col-md-3 col-lg-2 border-0">Account number</th>
              <th
                class="p-2 col-lg-2 border-0 d-none d-md-none d-lg-block d-xl-block"
              >
                Account type
              </th>
              <th
                class="p-2 col-lg-2 border-0 d-none d-md-none d-lg-block d-xl-block"
              >
                Holder
              </th>
              <th class="p-2 col-md-3 col-lg-2 border-0 text-right">
                YTD Performance
              </th>
              <th
                class="p-2 col-md-3 pr-md-5 pr-lg-5 col-lg-2 text-right border-0"
              >
                Amount
              </th>
            </tr>
          </thead>
          <tbody
            class="d-flex flex-column border-bottom-grey-3 border-top-0"
            *ngFor="
              let ptfandAccountsData of ptfandAccountsDatas;
              let i = index
            "
          >
            <tr
              (click)="collapsse(i)"
              class="w-100 d-flex row no-gutters"
              [class.hover-bg-gray-1]="!ptfandAccountsDatas[i]['isExpanded']"
              [class.bg-gray-2]="ptfandAccountsDatas[i]['isExpanded']"
            >
              <td
                class="py-3 px-2 col-md-3 col-lg-2 col-xl-2 border-0 d-flex flex-md-column flex-xl-row flex-xl-row align-items-baseline"
              >
                <span class="d-flex align-items-baseline">
                  {{ ptfandAccountsData.description }}
                  <i
                    class="fa fa-chevron-down ml-2"
                    [class.is-expanded]="ptfandAccountsDatas[i]['isExpanded']"
                  ></i>
                </span>
                <span class="d-lg-none d-xl-none">
                  {{ ptfandAccountsData.account }}
                </span>
                <span class="w-75 d-lg-none d-xl-none">
                  {{ ptfandAccountsData.holder }}
                </span>
              </td>
              <td class="py-3 px-2 col-md-3 col-lg-2 col-xl-2 border-0">
                {{ ptfandAccountsData.additions.portfolioId }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-md-none d-lg-block d-xl-block"
              >
                {{ ptfandAccountsData.account }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-md-none d-lg-block d-xl-block"
              >
                {{ ptfandAccountsData.holder }}
              </td>
              <td class="py-3 px-2 col-md-3 col-lg-2 border-0 text-right">
                {{ ptfandAccountsData.performanceYTDpct }}%
              </td>
              <td
                class="py-3 p-2 pr-5 col-md-3 col-lg-2 col-xl-2 text-right border-0"
              >
                <span>
                  {{ ptfandAccountsData.valuation.currencyCode }}
                  {{ ptfandAccountsData.valuation.amount }}
                </span>
              </td>
            </tr>
            <tr
              *ngFor="let item of ptfandAccountsData.cashAccounts"
              [@animationCollapse]="ptfandAccountsDatas[i]['state']"
              class="outer w-100 d-flex row no-gutters expanded-tr bg-gray-1"
              [class.border-top-grey-3]="ptfandAccountsDatas[i]['isExpanded']"
            >
              <td class="py-3 px-2 col-md-3 col-lg-2 border-0"></td>
              <td class="py-3 px-2 col-lg-2 border-0">
                {{ item.additions.IBAN }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-md-none d-lg-block d-xl-block"
              >
                Cassh account ({{ item.additions.accountCurrency }})
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-md-none d-lg-block d-xl-block"
              >
                {{ item.additions.description }}
              </td>
              <td
                class="py-3 px-2 col-lg-2 border-0 d-md-none d-lg-block d-xl-block"
              >
                -
              </td>
              <td
                class="py-3 px-2 col-lg-2 d-flex flex-column text-right border-0 pr-5"
              >
                {{ item.additions.accountCurrency }}
                {{ item.additions.balance }}
                <i
                  class="fas fa-arrow-right position-absolute"
                  style="right: 16px; top: 20px"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
