<h2>
  These are common css classes they can be used on any component even divs, dropdown, tables, modals, ... 
</h2>

<h1>
  Hover
</h1>

<div class="mt-4 d-flex around">
    <div class="hover-bg-gray-1 border ml-1" style="height: 60px;">hover-bg-gray-1</div>
    <div class="hover-bg-gray-2 border ml-1" style="height: 60px;">hover-bg-gray-2</div>
    <div class="hover-bg-gray-3 border ml-1" style="height: 60px;">hover-bg-gray-3</div>
    <div class="hover-bg-gray-4 border ml-1" style="height: 60px;">hover-bg-gray-4</div>
    <div class="hover-bg-gray-5 border ml-1" style="height: 60px;">hover-bg-gray-5</div>
    <div class="hover-bg-gray-6 border ml-1" style="height: 60px;">hover-bg-gray-6</div>
</div>

<h1 class="mt-3">
  border
</h1>

<div class="d-flex around flex-wrap">
    <div class="mt-4 border-black ml-1" style="height: 60px;">border-black</div>
    <div class="mt-4 border-top-black ml-1" style="height: 60px;">border-top-black</div>
    <div class="mt-4 border-bottom-black ml-1" style="height: 60px;">border-bottom-black</div>
    <div class="mt-4 border-bottom-gray-1 ml-3" style="height: 60px;">border-bottom-gray-1</div>
    <div class="mt-4 border-top-gray-1 ml-3" style="height: 60px;">border-bottom-gray-1</div>
    <div class="mt-4 border-bottom-gray-2 ml-3" style="height: 60px;">border-bottom-gray-2</div>
    <div class="mt-4 border-top-gray-2 ml-3" style="height: 60px;">border-bottom-gray-2</div>
    <div class="mt-4 border-bottom-gray-3 ml-3" style="height: 60px;">border-bottom-gray-3</div>
    <div class="mt-4 border-top-gray-3 ml-3" style="height: 60px;">border-top-gray-3</div>
    <div class="mt-4 border-bottom-gray-4 ml-3" style="height: 60px;">border-bottom-gray-4</div>
    <div class="mt-4 border-top-gray-4 ml-3" style="height: 60px;">border-top-gray-4</div>
    <div class="mt-4 border-bottom-gray-5 ml-3" style="height: 60px;">border-bottom-gray-5</div>
    <div class="mt-4 border-top-gray-5 ml-3" style="height: 60px;">border-top-gray-5</div>
    <div class="mt-4 border-bottom-gray-5 ml-3" style="height: 60px;">border-bottom-gray-6</div>
    <div class="mt-4 border-top-gray-5 ml-3" style="height: 60px;">border-top-gray-6</div>
</div>

<h1 class="mt-3">
  background
</h1>

<div class="mt-4 d-flex around">
    <div class="bg-gray-1" style="height: 60px;">bg-gray-1</div>
    <div class="bg-gray-2 ml-1" style="height: 60px;">bg-gray-2</div>
    <div class="bg-gray-3 ml-1" style="height: 60px;">bg-gray-3</div>
    <div class="bg-gray-4 ml-1" style="height: 60px;">bg-gray-4</div>
    <div class="bg-gray-5 ml-1" style="height: 60px;">bg-gray-5</div>
    <div class="bg-gray-6 ml-1" style="height: 60px;">bg-gray-6</div>
    <div class="bg-black ml-1 text-white" style="height: 60px;">bg-black</div>
    <div class="bg-white ml-1" style="height: 60px;">bg-white here you can not see but you can use bg-white for background color white</div>
</div>

