<div class="col-6">
  <h1 class="p-2">Forms</h1>
  <div class="form-group">
    <div style="margin-bottom: 1rem">
      <label for="regular">Regular input</label>
      <input
        type="text"
        name="regular"
        class="form-control"
        placeholder="Enter text"
      />
    </div>
    <div style="margin-bottom: 1rem">
      <label for="disabled">Disabled input</label>
      <input
        type="text"
        name="disabled"
        class="form-control"
        placeholder="Enter text"
        disabled
      />
    </div>
    <div style="margin-bottom: 1rem">
      <label for="regular-icon">Regular input with right Icon</label>
      <input
        type="text"
        name="regular-icon"
        class="form-control form-control-right-icon"
        placeholder="Enter text"
      />
    </div>
  </div>
</div>
