@import "../../scss/helpers/variables";

// Input form control basic style
.form-control {
  position: relative;
  padding: 0;
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid $cs-color-primary-black;
  border-radius: 0;
  color: $cs-color-primary-black;
  background-color: $cs-color-primary-white;
  font-family: "CSePRoman";
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  display: inline-block;

  &:focus {
    border: 0;
    border-bottom: 2px solid $cs-color-primary-black;
    padding-bottom: 15px;
    box-shadow: none;
    outline: none;
  }

  &[disabled] {
    color: $cs-color-primary-gray4;
    background-color: $cs-color-primary-white;
    border-width: 1px;
    border-color: $cs-color-primary-gray4;
    cursor: default;
  }

  &[disabled]::placeholder {
    color: $cs-color-primary-gray4;
  }
}

// Input with error
.form-control-error {
  padding-bottom: 15px;
  border-width: 2px;
  border-color: $cs-color-support-red;
}

.form-control-error-message {
  margin-top: 8px;
  color: $cs-color-support-red;
  font-family: "CSePBold";
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}

// Input with icons
.form-control-icon {
  position: relative;

  // Left icon
  .form-control-left-icon {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    width: 24px;
    top: 0;
  }
  // Specific case for left icon where we need to add a padding-left to .form-control
  // Note: dom elements order is important => form-control-left-icon then form-control
  .form-control-left-icon + .form-control {
    padding-left: 32px;
  }

  // Right icon
  .form-control-right-icon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    width: 24px;
    top: 0;
    right: 0;
  }
}
