
<div class="d-flex align-items-center">
  <div class="mr-4">
    <div *ngFor="let page of pages" class="tk-pagination-dot ml-3" [class.active]="currentPage === page">
    </div>
  </div>
  <div>
    <button [disabled]="isPreviousDisabled" (click)="setPage(this.currentPage - step)"
      class="tk-btn tk-btn-secondary tk-btn-sm">
      <span class="btn-icon-icon">
        <i class="fa fa-chevron-left"></i>
      </span>
    </button>
  </div>

  <div class="ml-2">
    <button class="tk-btn tk-btn-secondary tk-btn-sm" (click)="setPage(currentPage + step)" [disabled]="isNextDisabled">
      <span class="btn-icon-icon">
        <i class="fa fa-chevron-right"></i>
      </span>
    </button>
  </div>
</div>

