<div
  class="modal-container"
  [style.top]="topPosition"
  [class.is-hidden]="isHidden"
>
  <div class="modal-header">
    <i class="fas fa-times position-absolute cross-modal" (click)="close()"></i>
    <h5 *ngIf="title">{{ title }}</h5>
  </div>
  <div body>
    <div>
      <h3>body content</h3>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          quaerat tempora adipisci ducimus maiores, eos molestias! Iste
          temporibus, libero, sit enim consequatur alias, earum id laboriosam
          aspernatur in itaque incidunt?
        </p>
      </div>
    </div>
  </div>
  <div footer>footer content</div>
</div>

<div
  class="modal-overlay"
  (click)="closeOverlay(true)"
  [class.is-hidden]="isHidden"
></div>
