/* You can add global styles to this file, and also import other style files */

// tables use csTypeEPBold 14px for clickable tiles
@font-face {
  font-family: "csTypeEPBold";
  src: url("./assets/fonts/CSW07eP-Boldv4.ttf") format("truetype");
}

// tables use csTypeEPRegular 14px for none clickable titles text
@font-face {
  font-family: "csTypeEPRegular";
  src: url("./assets/fonts/CSW07eP-Romanv4.ttf") format("truetype");
}

//csTypeEt for numbers
@font-face {
  font-family: "csTypeEtRegular";
  src: url("./assets/fonts/CSW07eT-Romanv4.ttf") format("truetype");
}

$theme-colors: ("primary": #0074d9,
  "danger": #ff4136);

$grid-breakpoints: (xs:0,
  sm:575px,
  md:768px,
  lg:1024px,
  xl:1280px);

@import "node_modules/bootstrap/scss/bootstrap";

@import '@fortawesome/fontawesome-free/css/all.css';

body {
  overflow: auto;
}

//helpers

.ptf-acc-section,
.postion-list-section {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 40px;
}

.border-bottom-black {
  border-bottom: 1px solid #000000;
}

.bg-gray-1 {
  background-color: #F1F2F2;
}

.hover-bg-gray-1:hover {
  background: #F1F2F2;
  transition: background-color 0.25s ease-out;
}

.bg-gray-2 {
  background-color: #E6E7E8;
}

.border-top-grey-3 {
  border-top: 1px solid #DADADA;
}

.border-bottom-grey-3 {
  border-bottom: 1px solid #DADADA !important;
}

//clickable table titles
.csTypeEPBold-14 {
  font-family: "csTypeEPBold";
  font-size: 14px;
}

//non clickable table titles text
.csTypeEPRegular-14 {
  font-family: "csTypeEPRegular";
  font-size: 14px;
  font-weight: 100;
}

.csTypeEtRegular {
  font-family: "csTypeEtRegular";
  font-size: 14px;
  font-weight: 100;

}

//helpers

.ptf-acc-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.postion-list-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.ptf-acc-table,
.position-list-table {

  i {
    transition: all 0.25s;

    &.is-expanded {
      transform: rotate(-180deg);
    }
  }

  .outer {
    height: 0px;
    overflow: hidden;
  }

  td {
    word-wrap: break-word;
    min-width: 0;
    flex: 1;
    cursor: pointer;
  }

}
