/* You can add global styles to this file, and also import other style files */

// tables use CSePBold 14px for clickable tiles
@font-face {
  font-family: "CSePBold";
  src: url("./assets/fonts/CSW07eP-Boldv4.ttf") format("truetype");
}

// tables use csTypeEPRegular 14px for none clickable titles text
@font-face {
  font-family: "CSePRoman";
  src: url("./assets/fonts/CSW07eP-Romanv4.ttf") format("truetype");
}

//csTypeEt for numbers
@font-face {
  font-family: "CSeTRoman";
  src: url("./assets/fonts/CSW07eT-Romanv4.ttf") format("truetype");
}

$theme-colors: (
  "primary": #000000,
  "secondary": #ffffff,
  "danger": #ff4136,
);

$grid-breakpoints: (
  xs: 0,
  sm: 575px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$btn-border-radius: 0;

@import "node_modules/bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/css/all.css";

body {
  overflow: auto;
}

//helpers

.ptf-acc-section,
.postion-list-section {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 0px;
}

.border-bottom-black {
  border-bottom: 1px solid #000000;
}

.border-black {
  border: 1px solid #000000;
}

.bg-gray-1 {
  background-color: #f1f2f2;
}

.hover-bg-gray-1:hover {
  background: #f1f2f2;
  transition: background-color 0.25s ease-out;
}

.bg-gray-2 {
  background-color: #e6e7e8;
}

.border-top-grey-3 {
  border-top: 1px solid #dadada;
}

.border-bottom-grey-3 {
  border-bottom: 1px solid #dadada !important;
}

//clickable table titles
.CSePBold-14 {
  font-family: "CSePBold";
  font-size: 14px;
}

//non clickable table titles text
.csTypeEPRegular-14 {
  font-family: "CSePRoman";
  font-size: 14px;
  font-weight: 100;
}

.csTypeEPRegular-16 {
  font-family: "CSePRoman";
  font-size: 16px;
  font-weight: 100;
}

.csTypeEtRegular {
  font-family: "CSeTRoman";
  font-size: 14px;
  font-weight: 100;
}

//helpers

.ptf-acc-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.postion-list-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.ptf-acc-table,
.position-list-table {
  i {
    transition: all 0.25s;

    &.is-expanded {
      transform: rotate(-180deg);
    }
  }

  .outer {
    height: 0px;
    overflow: hidden;
  }

  td {
    word-wrap: break-word;
    min-width: 0;
    flex: 1;
    cursor: pointer;
  }
}

// buttons

.btn {
  height: 50px;
  font-weight: 700;
}

.btn-primary:hover {
  color: #fff;
  background-color: #575756;
  border: 2px solid #575756;
}

.btn-secondary:hover {
  color: #000000;
  background-color: white;
  border: 2px solid #000000;
}
