.ptf-acc-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.postion-list-section::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.ptf-acc-table,
.position-list-table {
  i {
    transition: all 0.25s;

    &.is-expanded {
      transform: rotate(-180deg);
    }
  }

  .outer {
    overflow: hidden;
  }

  td {
    word-wrap: break-word;
    min-width: 0;
    flex: 1;
    cursor: pointer;
  }
}
